{% block head %}
{% include "head.html" %}
<!-- Datatables still need to have searching enabled but let's not display it any more -->
<style>
.dataTables_filter {
   display: none;
}
.btn-pdl {
  background-color: hsl(35, 100%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f48e00", endColorstr="#f48e00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f48e00), to(#f48e00));
  background-image: -moz-linear-gradient(top, #f48e00, #f48e00);
  background-image: -ms-linear-gradient(top, #f48e00, #f48e00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f48e00), color-stop(100%, #f48e00));
  background-image: -webkit-linear-gradient(top, #f48e00, #f48e00);
  background-image: -o-linear-gradient(top, #f48e00, #f48e00);
  background-image: linear-gradient(#f48e00, #f48e00);
  border-color: #f48e00 #f48e00 hsl(35, 100%, 48%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-psd {
  background-color: hsl(0, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a80000", endColorstr="#a80000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a80000), to(#a80000));
  background-image: -moz-linear-gradient(top, #a80000, #a80000);
  background-image: -ms-linear-gradient(top, #a80000, #a80000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a80000), color-stop(100%, #a80000));
  background-image: -webkit-linear-gradient(top, #a80000, #a80000);
  background-image: -o-linear-gradient(top, #a80000, #a80000);
  background-image: linear-gradient(#a80000, #a80000);
  border-color: #a80000 #a80000 hsl(0, 100%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-pnl {
  background-color: hsl(52, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efcf00", endColorstr="#efcf00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efcf00), to(#efcf00));
  background-image: -moz-linear-gradient(top, #efcf00, #efcf00);
  background-image: -ms-linear-gradient(top, #efcf00, #efcf00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efcf00), color-stop(100%, #efcf00));
  background-image: -webkit-linear-gradient(top, #efcf00, #efcf00);
  background-image: -o-linear-gradient(top, #efcf00, #efcf00);
  background-image: linear-gradient(#efcf00, #efcf00);
  border-color: #efcf00 #efcf00 hsl(52, 100%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-udmr {
  background-color: hsl(110, 56%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#29671d", endColorstr="#29671d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#29671d), to(#29671d));
  background-image: -moz-linear-gradient(top, #29671d, #29671d);
  background-image: -ms-linear-gradient(top, #29671d, #29671d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29671d), color-stop(100%, #29671d));
  background-image: -webkit-linear-gradient(top, #29671d, #29671d);
  background-image: -o-linear-gradient(top, #29671d, #29671d);
  background-image: linear-gradient(#29671d, #29671d);
  border-color: #29671d #29671d hsl(110, 56%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-pc {
  background-color: hsl(195, 60%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2884a3", endColorstr="#2884a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2884a3), to(#2884a3));
  background-image: -moz-linear-gradient(top, #2884a3, #2884a3);
  background-image: -ms-linear-gradient(top, #2884a3, #2884a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2884a3), color-stop(100%, #2884a3));
  background-image: -webkit-linear-gradient(top, #2884a3, #2884a3);
  background-image: -o-linear-gradient(top, #2884a3, #2884a3);
  background-image: linear-gradient(#2884a3, #2884a3);
  border-color: #2884a3 #2884a3 hsl(195, 60%, 40%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-pntcd {
  background-color: hsl(51, 85%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddbf11", endColorstr="#ddbf11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ddbf11), to(#ddbf11));
  background-image: -moz-linear-gradient(top, #ddbf11, #ddbf11);
  background-image: -ms-linear-gradient(top, #ddbf11, #ddbf11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddbf11), color-stop(100%, #ddbf11));
  background-image: -webkit-linear-gradient(top, #ddbf11, #ddbf11);
  background-image: -o-linear-gradient(top, #ddbf11, #ddbf11);
  background-image: linear-gradient(#ddbf11, #ddbf11);
  border-color: #ddbf11 #ddbf11 hsl(51, 85%, 47%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
</style>
{% endblock %}

{% block content %}
<body>
<!-- This script will allow us to click on entire rows in the table -->
<script>
jQuery(function($) {
  $('#table-dosare').delegate('#data-row', 'click', function() {
    window.location = $(this).data('url')
  });
});
</script>
<!-- This script will initialise the table using the datatables plugin -->
<script>
$(document).ready(function() {
    $('#table-dosare').dataTable( {
        "paging":   false,
        "info":     false,
    });
});
</script>
<!-- This script will use the datatables API to allow filtering to any other search box in the page -->
<script>
$(document).ready(function() {
    var dataTable = $('#table-dosare').dataTable();
    $("#searchbox").keyup(function() {
        dataTable.fnFilter(this.value);
    });
});
</script>

{% include "navbar.html" %}

    <div class="container marketing">
    <!--<div class="pull-right">
        <a href="/dosare?filtru=cu_executare" class="btn btn-xs btn-danger" role="button">Cu executare</a>
        <a href="/dosare?filtru=fara_executare" class="btn btn-xs btn-success" role="button">Cu suspendare</a>
    </div>-->
    <table class="table table-hover table-bordered table-responsive" id="table-dosare">
    <thead>
        <tr>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Poza</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Nume</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Funcție publică</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Partid</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Fapta</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Ani pedeapsa</h><div class="row"><button class="btn btn-xs btn-danger col-md-6" role="button">Executare</button> <button class="btn btn-xs btn-success col-md-6" role="button">Suspendare</button></div></th>
        </tr>
      </thead>
      <tbody>
        {% for row in dosare %}
            {% if row.4 == 'PDL' %}
                {% set butonpartid = 'btn-pdl' %}
            {% elif row.4 == 'PSD' %}
                {% set butonpartid = 'btn-psd' %}
            {% elif row.4 == 'PNL' %}
                {% set butonpartid = 'btn-pnl' %}
            {% elif row.4 == 'PC' %}
                {% set butonpartid = 'btn-pc' %}
            {% elif row.4 == 'UDMR' %}
                {% set butonpartid = 'btn-udmr' %}
            {% elif row.4 == 'PNTCD' %}
                {% set butonpartid = 'btn-pntcd' %}
            {% else %}
                {% set butonpartid = 'btn-default' %}
            {% endif %}

            {% if row.8 == 1 %}
                {% set butonani = 'btn-danger' %}
            {% elif row.8 == 0 %}
                {% set butonani = 'btn-success' %}
            {% endif %}
            <tr data-url="/profil?id={{ row.0 }}" id="data-row" style="cursor: pointer; cursor: hand;">
                <td><img src="{{ row.7 }}" height="60" width="80"></img></td>
                <td><h5 style='text-align: center'>{{ row.2 }} {{ row.1 }}</h></td>
                <td><h5 style='text-align: center'>{{ row.3 }}</h></td>
                <td><h5 style='text-align: center'><button class="btn {{ butonpartid }}" type="button">{{ row.4 }}</button></h></td>
                <td><h5 style='text-align: center'>{{ row.5 }}</h></td>
                <td><h4 style='text-align: center'><button class="btn {{ butonani }}" type="button">{{ row.6 }}</button></h></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    </div><!-- /.container -->
</body>
</html>
{% endblock %}
