{% block head %}
{% include "head.html" %}
<!-- Datatables still need to have searching enabled but let's not display it any more -->
<style>
.dataTables_filter {
   display: none;
}
</style>
{% endblock %}

{% block content %}
<body>
<!-- This script will allow us to click on entire rows in the table -->
<script>
jQuery(function($) {
  $('#table-dosare').delegate('#data-row', 'click', function() {
    window.location = $(this).data('url')
  });
});
</script>
<!-- This script will initialise the table using the datatables plugin -->
<script>
$(document).ready(function() {
    $('#table-dosare').dataTable( {
        "paging":   false,
        "info":     false,
    });
});
</script>
<!-- This script will use the datatables API to allow filtering to any other search box in the page -->
<script>
$(document).ready(function() {
    var dataTable = $('#table-dosare').dataTable();
    $("#searchbox").keyup(function() {
        dataTable.fnFilter(this.value);
    });
});
</script>

{% include "navbar.html" %}

    <div class="container marketing">
    <a href="/dosare?filtru=cu_executare" class="btn btn-danger" role="button">Cu executare</a>
    <a href="/dosare?filtru=fara_executare" class="btn btn-success" role="button">Cu suspendare</a>
    <table class="table table-hover table-bordered table-responsive" id="table-dosare">
    <thead>
        <tr>
          <th></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Nume</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Prenume</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Funcție publică</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Partid</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Fapta</h></th>
          <th style='background-color: #F3F3F3;'><h4 style='text-align: center'>Ani pedeapsa</h></th>
        </tr>
      </thead>
      <tbody>
        {% for row in dosare %}
            {% if row.8 == 1 %}
                {% set background = '#D9534F' %}
            {% elif row.8 == 0 %}
                {% set background = '#95CC92' %}
            {% endif %}
            <tr data-url="/profil?id={{ row.0 }}" id="data-row" style="cursor: pointer; cursor: hand;">
                <td><img src="{{ row.7 }}" height="60" width="80"></img></td>
                <td><h5 style='text-align: center'>{{ row.1 }}</h></td>
                <td><h5 style='text-align: center'>{{ row.2 }}</h></td>
                <td><h5 style='text-align: center'>{{ row.3 }}</h></td>
                <td><h5 style='text-align: center'>{{ row.4 }}</h></td>
                <td><h5 style='text-align: center'>{{ row.5 }}</h></td>
                <td style='background-color: {{ background }}'><h4 style='text-align: center'><strong>{{ row.6 }}</strong></h></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    </div><!-- /.container -->
</body>
</html>
{% endblock %}
