{% block head %}
{% include "head.html" %}
{% endblock %}

{% block content %}
<body style="font-family: 'Open Sans', sans-serif; padding-top: 0px">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script>
jQuery(function($) {
  $('#stats').delegate('#stats-row', 'click', function() {
    window.location = $(this).data('url')
  });
});
</script>
{% include "navbar.html" %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 960px; margin: 0 auto;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      {% for entry in info_slider %}
        {% if loop.index0 == 0 %}
        <li data-target="#myCarousel" data-slide-to={{ loop.index0 }} class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to={{ loop.index0 }}></li>
        {% endif %}
      {% endfor %}
      </ol>

      <div class="carousel-inner" role="listbox">
      {% for entry in info_slider %}
        {% if loop.index0 == 0 %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% endif %}
          <a href="/profil?id={{ entry.0 }}"><img style="width: 100%; height: 100%" src={{ entry.5 }}></a>
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ entry.2 }} {{ entry.1 }}</h1>
              <p>{{ entry.3 }} ani cu executare</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div id="stats" class="container marketing">
      <div class="row">
        <div id="stats-row" class="col-md-4" style="cursor: pointer; cursor: hand;" data-url="/profil?id={{ pedeapsa_maxima.0 }}">
          <h2 style="text-align: center;">{{ pedeapsa_maxima.1 }} ani</h2>
          <p class="lead" style="text-align: center"><small>Cea mai lunga pedeapsa</small></p>
          </div>
        <div id="stats-row" class="col-md-4" style="cursor: pointer; cursor: hand;" data-url="/profil?id={{ ultima_condamnare.0 }}">
          <h1 style="text-align: center; font-size: 50px;"><strong>{{ ultima_condamnare.1 }} zile</h1></strong>
          <p class="lead" style="text-align: center">De la ultima condamnare</p>
        </div>
        <div id="stats-row" class="col-md-4" style="cursor: pointer; cursor: hand;" data-url="/profil?id={{ dosar_maxim.0 }}">
          <h2 style="text-align: center;">{{ dosar_maxim.1 }} zile</h2>
          <p class="lead" style="text-align: center"><small>Cel mai lung dosar</small></p>
        </div>
      </div>
      <!-- START THE FEATURETTES -->

      <hr>

      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> cu executare</h2>
          <p class="lead">Din totalul de {{ total_dosare }} dosare, {{ total_dosare_cu_executare }} au fost inchise cu condamnari cu executare.</p>
        </div>
        <div class="col-md-5" style="padding-left: 150px">
          <a href="/dosare?filtru=cu_executare"><img class="featurette-image img-responsive" src="http://i.imgur.com/UPXh6ib.png"></a>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-5">
          <a href="/dosare?filtru=fara_executare"><img class="featurette-image img-responsive" src="http://i.imgur.com/K990QRT.png"></a>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> cu suspendare</h2>
          <p class="lead">Din totalul de {{ total_dosare }} dosare, {{ total_dosare_fara_executare }} au fost inchise cu condamnari cu suspendare.</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> in partidele politice</h2>
          <p class="lead">Vezi cati politicieni din fiecare partid au fost condamnati in dosare de coruptie</p>
        </div>
        <div class="col-md-5">
          <a href="/statistici"><img class="featurette-image img-responsive" src="http://i.imgur.com/v8hwJcX.png"></a>
        </div>
      </div>

      <hr>

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </body>
</html>
{% endblock %}
