{% block head %}
{% include "head.html" %}
<style>
{% include "custom-buttons.css" %}
</style>
<style type="text/css">
    p{
        padding: 30px;
        background: #dbeab5;
    }
</style>
{% endblock %}

{% block content %}
<body style="font-family: 'Open Sans', sans-serif; padding-top: 0px">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script>
jQuery(function($) {
  $('#stats').delegate('#stats-row', 'click', function() {
    window.location = $(this).data('url')
  });
});
</script>
{% include "navbar.html" %}

    <div class="container marketing" style="margin: 0 auto; padding-top: 100px"><!-- /.container -->
        <div class="row">
            <div class="col-md-8">
                {% for entry in info_slider %}
                <a href="/profil?id={{ entry.0 }}"><img width="750" height="400" src="{{ entry.1 }}"></a>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/maricorupti" data-width="360"  data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/maricorupti"><a href="https://www.facebook.com/maricorupti">Mari Corupți</a></blockquote></div></div>
            </div>
            <div id="stats" class="col-md-4" style="padding-top: 17px">
                <p style="font-weight: bold; font-size: 14px">
                    <span id="stats-row" data-url="/profil?id={{ ultima_condamnare.0 }}" style="font-size: 90%; cursor: pointer; cursor: hand;" class="label label-danger">{{ ultima_condamnare.1 }} zile</span> de la ultima condamnare.</br></br>
                    Cea mai lunga pedeapsa: <span id="stats-row" data-url="/profil?id={{ pedeapsa_maxima.0 }}" style="font-size: 90%; cursor: pointer; cursor: hand;" class="label label-default">{{ pedeapsa_maxima.1 }} ani</span></br></br>
                    Cel mai lung dosar: <span id="stats-row" data-url="/profil?id={{ dosar_maxim.0 }}" style="font-size: 90%; cursor: pointer; cursor: hand;" class="label label-default">{{ dosar_maxim.1 }} zile</span>
                </p>
            </div>
        </div>
        <div class="row" style="padding-top: 18px">
            <div class="col-md-4">
                <p style="font-weight: bold; font-size: 16px">
                    Din totalul de {{ total_dosare }} dosare, {{ total_dosare_cu_executare }} au fost inchise cu condamnari cu executare.</br></br>
                    <button onclick="window.location.href='/dosare?filtru=cu_executare'" class="btn btn-danger" type="button" style='font-size: 100%;'>{{ total_dosare_cu_executare }}</button><span style="cursor: pointer; cursor: hand;"> Condamnari cu executare</span>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-weight: bold; font-size: 16px">
                    Din totalul de {{ total_dosare }} dosare, {{ total_dosare_fara_executare }} au fost inchise cu condamnari cu suspendare.</br></br>
                    <button onclick="window.location.href='/dosare?filtru=fara_executare'" class="btn btn-success" type="button" style='font-size: 100%;'>{{ total_dosare_fara_executare }}</button><span style="cursor: pointer; cursor: hand;"> Condamnari cu suspendare</span>
                </p>
            </div>
            <div class="col-md-4">
                <p style="font-weight: bold; font-size: 16px">
                    Mai toate partidele au mari corupti. PSD, PNL (PDL), UDMR, PNȚCD, PC</br></br>
                    <button onclick="window.location.href='/dosare?filtru=partid_1'" class="btn btn-ani" type="button" style='font-size: 100%;'>10</button> <span style="cursor: pointer; cursor: hand;"> Condamnari pe partide</span>
                </p>
            </div>
        </div>

    {% include "footer.html" %}
    </div><!-- /.container -->
  </body>
</html>
{% endblock %}
