{% block head %}
{% include "head.html" %}
{% endblock %}

{% block content %}
<body style="padding-top: 0px">
{% include "navbar.html" %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="/profil?id=1"><img style="width: 100%; height: 100%" src=http://i.imgur.com/bpnkj0D.png></a>
          <div class="container">
            <div class="carousel-caption">
              <h1>Adrian Nastase</h1>
              <p>4 ani cu executare</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="/profil?id=1"><img style="width: 100%; height: 100%" src="http://i.imgur.com/SNkW2wz.png"></a>
          <div class="container">
            <div class="carousel-caption">
              <h1>Antonie Solomon</h1>
              <p>3 ani cu executare</p>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="/profil?id=1"><img style="width: 100%; height: 100%" src="http://i.imgur.com/nMpkRvl.png"></a>
          <div class="container">
            <div class="carousel-caption">
              <h1>Gigi Becali</h1>
              <p>3 ani cu executare</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div style="margin-top: -100px" class="container marketing">
      <div class="row">
        <div class="col-md-4">
          <h2 class="featurette-heading" style="text-align: center;"><small>{{ pedeapsa_maxima }} ani</h2></small>
          <p class="lead" style="text-align: center"><small>Cea mai lunga pedeapsa</small></p>
        </div>
        <div class="col-md-4">
          <h1 class="featurette-heading" style="text-align: center;"><strong>{{ ultima_condamnare }} zile</h1></strong>
          <p class="lead" style="text-align: center">De la ultima condamnare</p>
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading" style="text-align: center;"><small>{{ dosar_maxim }} zile</h2></small>
          <p class="lead" style="text-align: center"><small>Cel mai lung dosar</small></p>
        </div>
      </div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> cu executare</h2>
          <p class="lead">Din totalul de {{ total_dosare }} dosare, {{ total_dosare_cu_executare }} au fost inchise cu condamnari cu executare.</p>
        </div>
        <div class="col-md-5">
          <a href="/dosare?filtru=cu_executare"><img class="featurette-image img-responsive" src="http://i.imgur.com/KafUIpg.png"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <a href="/dosare?filtru=fara_executare"><img class="featurette-image img-responsive" src="http://i.imgur.com/aDoAIp3.png"></a>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> cu suspendare</h2>
          <p class="lead">Din totalul de {{ total_dosare }} dosare, {{ total_dosare_fara_executare }} au fost inchise cu condamnari cu suspendare.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Condamnari</span> in partidele politice</h2>
          <p class="lead">Vezi cati politicieni din fiecare partid au fost condamnati in dosare de coruptie</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://i.imgur.com/v8hwJcX.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </body>
</html>
{% endblock %}
