<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Captura zilei</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#despre">Despre</a></li>
                <li><a href="#contribuie">Contribuie</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dosare<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=nume">Toate</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Filtreaza dupa:</li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=functie_publica">Functie publica</a></li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=partid">Partid</a></li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=fapta">Fapta</a></li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=data_sentinta">Data sentintei definitive</a></li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=durata_dosar">Durata dosarului</a></li>
                    <li><a href="http://hostatic.ro:5000/dosare?filtru=ani_pedeapsa">Ani pedeapsa</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
