{% block head %}
{% include "head.html" %}
<style>
{% include "custom-buttons.css" %}
</style>
{% endblock %}


{% block content %}
<body>
    {% include "navbar.html" %}

    {% if profil.5 == 'PDL' %}
        {% set butonpartid = 'btn-pdl' %}
        {% set numepartid = 'PDL' %}
    {% elif profil.5 == 'PSD' %}
        {% set butonpartid = 'btn-psd' %}
        {% set numepartid = 'PSD' %}
    {% elif profil.5 == 'PNL' %}
        {% set butonpartid = 'btn-pnl' %}
        {% set numepartid = 'PNL' %}
    {% elif profil.5 == 'PC' %}
        {% set butonpartid = 'btn-pc' %}
        {% set numepartid = 'PC' %}
    {% elif profil.5 == 'UDMR' %}
        {% set butonpartid = 'btn-udmr' %}
        {% set numepartid = 'UDMR' %}
    {% elif profil.5 == 'PNTCD' %}
        {% set butonpartid = 'btn-pntcd' %}
        {% set numepartid = 'PNTCD' %}
    {% else %}
        {% set butonpartid = 'btn-fara' %}
        {% set numepartid = 'N/A' %}
    {% endif %}

    {% if profil.12 == 1 %}
        {% set executare = 'cu executare' %}
        {% set butonexecutare = 'btn-danger' %}
    {% else %}
        {% set executare = 'cu suspendare' %}
        {% set butonexecutare = 'btn-success' %}
    {% endif %}

    <div class="container marketing" style="padding-top: 20px">
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div style='background-color: black; color: white; font-size: 200%; text-align: left; border-radius: 7px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px'>{{ profil.3.upper() }} {{ profil.2.upper() }}<img width="100%" height="90%" style='border-radius: 7px;' src="{{ profil.22 }}"></div>
                <div style='padding-top: 5px; padding-bottom: 5px'><button class="btn btn-ani" type="button" style='font-size: 160%;'>{{ profil.11 }} ani</button> <button class="btn {{ butonexecutare }}" type="button" style='font-size: 160%;'>{{ executare }}</button></div>
            </div>
            <div class="col-md-3">
                <div><strong>{{ profil.4 }}</strong></div>
                <div>{{ profil.7 }}</div>
                <div style='padding-top: 5px; padding-bottom: 5px'> <button class="btn {{ butonpartid }}" type="button">{{ numepartid }}</button></div>
                <div><strong>FAPTA: {{ profil.8 }}</strong></div>
                <div><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>{{ profil.18 }}</div>
                <div>Avere recuperata: {{ profil.19 }}</div>
                <div>In inchisoare: XXX</div>
                <div>A primit sentinta finala dupa: {{ profil.10 }} zile</div>
                <div>I s-a redus pedeapsa cu: {{ profil.13 }} zile</div>
                <div>Mai are: XXX zile</div>
                <div><strong>Link-uri utile:</strong><a href={{ profil.15 }}> Sursa presa </a> | <a href={{ profil.20 }}> Wikipedia </a></div>
            </div>
            <div class="col-md-6">
                <h2> Dosarul {{ profil.1 }} </h2>
                <h4> {{ profil.16 }} </h4>
                <br>
                <div><h4>Observatii:</h4></div>
                <div>{{ profil.17 }}</div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
{% endblock %}
