{% block head %}
{% include "head.html" %}
<style>
{% include "custom-buttons.css" %}
</style>
{% endblock %}


{% block content %}
<body style="font-family: 'Open Sans', sans-serif;">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% include "navbar.html" %}

    {% if profil.5 == 'PDL' %}
        {% set butonpartid = 'btn-pdl' %}
        {% set numepartid = 'PDL' %}
    {% elif profil.5 == 'PSD' %}
        {% set butonpartid = 'btn-psd' %}
        {% set numepartid = 'PSD' %}
    {% elif profil.5 == 'PNL' %}
        {% set butonpartid = 'btn-pnl' %}
        {% set numepartid = 'PNL' %}
    {% elif profil.5 == 'PC' %}
        {% set butonpartid = 'btn-pc' %}
        {% set numepartid = 'PC' %}
    {% elif profil.5 == 'UDMR' %}
        {% set butonpartid = 'btn-udmr' %}
        {% set numepartid = 'UDMR' %}
    {% elif profil.5 == 'PNTCD' %}
        {% set butonpartid = 'btn-pntcd' %}
        {% set numepartid = 'PNTCD' %}
    {% else %}
        {% set butonpartid = 'btn-fara' %}
        {% set numepartid = 'N/A' %}
    {% endif %}

    {% if profil.12 == 1 %}
        {% set executare = 'cu executare' %}
        {% set executare_link = 'cu_executare' %}
        {% set butonexecutare = 'btn-danger' %}
    {% else %}
        {% set executare = 'cu suspendare' %}
        {% set executare_link = 'fara_executare' %}
        {% set butonexecutare = 'btn-success' %}
    {% endif %}

    <div class="container marketing" style="padding-top: 20px">
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div style='background-color: black; color: white; text-align: left; border-radius: 7px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;'>
                    <p style="text-transform: uppercase; font-size: 200%; margin-top: 5px;">{{ profil.3.upper() }} {{ profil.2.upper() }}</p>
                    {% if profil.22 %}
                    <img width="100%" height="90%" style='border-radius: 7px;' src="{{ profil.22 }}">
                    {% else %}
                    <img width="100%" height="90%" style='border-radius: 7px;' src="/static/img/default_image.png">
                    {% endif %}
                    <p style="font-size: 150%; margin-top: 5px; margin-bottom: -5px">{{ profil.4 }}</p>
                    <p style="font-size: 150%; margin-top: 5px; margin-bottom: -5px">{{ profil.7 }}</p>
                </div>
                <div style='padding-top: 5px; padding-bottom: 5px'><button onclick="window.location.href='/dosare?filtru=ani_inchisoare'" class="btn btn-ani" type="button" style='font-size: 150%;'>{{ profil.11 }} ani</button> <button onclick="window.location.href='/dosare?filtru={{ executare_link }}'" class="btn {{ butonexecutare }}" type="button" style='font-size: 150%;'>{{ executare }}</button></div>
            </div>
            <div class="col-md-3">
                <div>Partid:</div>
                <div><button class="btn {{ butonpartid }}" type="button">{{ numepartid }}</button></div>
                <div style="margin-top: 10px">Fapta:</div>
                <div style="margin-top: 2px;"><span style="font-size: 90%; max-width: 100%; display:inline-block" class="label label-default">{{ profil.8 }}</span></div>
                {% if profil.18 %}
                <div style="margin-top: 10px">Prejudiciu:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default">{{ profil.18 }}</span></div>
                {% endif %}
                {% if profil.19 %}
                <div style="margin-top: 10px">Avere recuperata:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default">{{ profil.19 }}</span></div>
                {% endif %}
                <div style="margin-top: 10px">In inchisoare:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default">{{ timp_condamnare }} zile</span></div>
                <div style="margin-top: 10px">A primit sentinta finala dupa:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default">{{ profil.10 }} zile</span></div>
                <div style="margin-top: 10px">I s-a redus pedeapsa cu:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default">{{ profil.13 }} zile</span></div>
                <div style="margin-top: 10px">Mai are:</div>
                <div style="margin-top: 2px"><span style="font-size: 90%" class="label label-default"> {{ zile_ramase }} zile</span></div>
                <div style="margin-top: 10px">Link-uri utile:</div>
                <div style="margin-top: 2px"><a href={{ profil.15 }}> Sursa presa </a> | <a href={{ profil.20 }}> Wikipedia </a></div>
            </div>
            <div class="col-md-6">
                <div style="font-size: 28px; margin-top: -5px">
                {% if profil.1 %}
                    Dosarul {{ profil.1 }}
                {% else %}
                    Dosar
                {% endif %}
                </div>
                <h4> {{ profil.16 }} </h4>
                <br>
                {% if profil.17 %}
                <div><h4>Observatii:</h4></div>
                <div>{{ profil.17 }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% include "footer.html" %}
    </div>
</body>
</html>
{% endblock %}
